<section class="instagram-widget">
  <h2 data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation section-title section-border">{{ settings.instagram-title }}</h2>
  <div class="instagram-photos"></div>
</section>